body {
	margin: 0;
}
#gameboard {
	display: flex;
	min-height: 92%;
	flex-wrap: wrap;
}
.grid_box {
	min-width: 33.3333333%;
	min-height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#playerboard {
	display: flex;
	min-height: 8%;
}
.player {
	min-width: 16.66%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 1px solid black;
}
#boardContainer {
	width: 98%;
}
#container{
	display: flex;
	flex-direction: row;
	width:100%;
	height:100%;
}
.sidebar{
	position: fixed;
	top:0;
	width:25%;
	height:100%;
	background-color: green
}
.content{
	position: fixed;
	top:0;
	right:0;
	width:15%;
	height:100%;
}
.trait{
	padding:2%;
	margin:3%;
	border: 2px solid black;
	border-radius: 15px;
	text-align: center;
	width:35%;
}
.contentDiv{
	width: 100%;
	padding: 5%;
	padding-top:1%;
	text-align: center;
}
#sidebarContent{
	width:25%;
	height:100%;
}
.traitRow{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.title{
	margin-top:5%;
	margin-bottom: 0%;
	margin-left: 5%;
	font-size: 20px
}